@model GrizzTime.ViewModels.Employee
@using GrizzTime.ViewModels

@{
    ViewBag.Title = "Details";
}

<h2>@Model.EmpFName @Model.EmpLName</h2>

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.EmpFName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.EmpFName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmpLName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.EmpLName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmpPhone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.EmpPhone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Job Title:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.EmpType, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            List of Projects:
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Project")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Employee.GetProjects(Model.UserID))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjName)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Project", new { id = item.ProjID }, null)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>

<div class="db-Row-Button-Box">
    <div class="db-Column-Button-Box">
        <a href="@Request.UrlReferrer">
            <div class="small-button">
                <span>
                    <h2>
                        Back
                    </h2>
                </span>
            </div>
        </a>
    </div>
    <div class="db-Column-Button-Box">
        <a href="/business/edit/@Request.Cookies["UserID"].Value">
            <div class="small-button">
                <span>
                    <h2>
                        Edit
                    </h2>
                </span>
            </div>
        </a>
    </div>
</div>

@*Displays alert message telling user how the operation went.*@
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

