@model GrizzTime.ViewModels.Employee
@using GrizzTime.ViewModels

@{
    ViewBag.Title = "Details";
}


    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.EmpFName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpFName, new { htmlAttributes = new { @class = "input-md", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpLName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpLName, new { htmlAttributes = new { @class = "input-md", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "input-md", @readonly = "readonly", @type = "text" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpPhone, new { htmlAttributes = new { @class = "input-md", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Job Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpType, new { htmlAttributes = new { @class = "input-md", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Supervisor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SupervisorName, new { htmlAttributes = new { @class = "input-md", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h3>List of Projects: </h3>
                <table class="table table-striped">
                    <tr>
                        <th>
                            Project
                        </th>
                    </tr>
                    @foreach (var item in Employee.GetProjects(Model.UserID))
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "Project", new { id = item.ProjID })">@Html.DisplayFor(modelItem => item.ProjName)</a>
                            </td>
                        </tr>

                    }
                </table>
            </div>
        </div>

    </div>

<div class="db-Row-Button-Box">
    <div class="db-Column-Button-Box">
        <a href="@Request.UrlReferrer">
            <div class="small-button">
                <span>
                    <h2>
                        Back
                    </h2>
                </span>
            </div>
        </a>
    </div>
    <div class="db-Column-Button-Box">
        <a href="/employee/edit/@Request.Cookies["UserID"].Value">
            <div class="small-button">
                <span>
                    <h2>
                        Edit
                    </h2>
                </span>
            </div>
        </a>
    </div>
</div>

@*Displays alert message telling user how the operation went.*@
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

