@model GrizzTime.ViewModels.Employee
@using GrizzTime.ViewModels

@{
    ViewBag.Title = "Edit Pay Rate";
}

<h2>Edit Pay Rate</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.EmpFName @Model.EmpLName</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.EmpPayRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpPayRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpPayRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "MyEmployees", "Business")
</div>

@*Displays alert message telling user how the operation went.*@
@if (ViewBag.message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.message");
        };
    </script>
}
