@using GrizzTime.ViewModels
@model Contract

@{
    ViewBag.Title = "Add a contract";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Add new Contract</h3>
                </div>
                <div class="card-body">
                    <!-- Date dd/mm/yyyy -->
                    <div class="form-group">
                        <label>Name:</label>

                        <div class="input-group">
                            @Html.EditorFor(model => model.ConName, new { htmlAttributes = new { @type = "text", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConName, "", new { @class = "text-danger" })
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                    <!-- Date mm/dd/yyyy -->
                    <div class="form-group">
                        <label>Allotted Hours:</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.ConAllottedHours, new { htmlAttributes = new { @type = "number", @step="0.01", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConAllottedHours, "", new { @class = "text-danger" })
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <input type="submit" value="Save" class="btn btn-lg btn-info" />
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>

}
