@using GrizzTime.ViewModels
@model Contract

@{
    ViewBag.Title = "Edit contract " + Model.ConName;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ConName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConName, new { htmlAttributes = new { @class = "input-md" } })
                @Html.ValidationMessageFor(model => model.ConName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConAllottedHours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConAllottedHours, new { htmlAttributes = new { @class = "input-md" } })
                @Html.ValidationMessageFor(model => model.ConAllottedHours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="db-Row-Button-Box">
    <a href="@Request.UrlReferrer">
        <div class="small-button">
            <span>
                <h2>
                    Back
                </h2>
            </span>
        </div>
    </a>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
