@using GrizzTime.ViewModels
@model IEnumerable<GrizzTime.Models.expensesheet>


@{
    ViewBag.Title = "My Expense Reports";

    //true when called from dashboard
    if (TempData["partial"] != null && TempData["partial"].Equals("True"))
    {
        Layout = null;
    }
}

@Html.ActionLink("Add New Expense", "ExpenseEntry", "Expensesheet", new { @type = "button", @class = "btn btn-sm btn-default pull-left button button4" })
<br />
<br />

<table id="" class="display">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Submission Date</th>
            <th>Reviewer</th>
            <th>Approval Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {

                var expsubmitime = item.ExpSheetSubmitTime.GetValueOrDefault();

                <tr>
                    <td>@item.ExpSheetTotalAmt</td>
                    @if (expsubmitime.Date.ToShortDateString() == "1/1/0001")
                    {
                        <td>---</td>
                    }
                    else
                    {
                        <td>@expsubmitime.Date.ToShortDateString()</td>
                    }
                    <td>@item.employee.employee2.EmpFName @item.employee.employee2.EmpLName</td>
                    <td>@item.ExpSheetStatus</td>
                    <td>
                        <div>
                            @Html.ActionLink("Edit", "ExpenseEntry", "Expensesheet", new { id = item.ExpSheetID }, new { @type = "button", @class = "btn btn-sm btn-default pull-left button button4" })
                        </div>

                        <div>
                            @Html.ActionLink("Submit", "Submit", "Expensesheet", new { eid = item.ExpSheetID }, new { @type = "button", @class = "btn btn-sm btn-default pull-left button button4" })
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (TempData["partial"] != null)
{
    <script>
        $(document).ready(function () {
            if ($.fn.dataTable.isDataTable('table.display')) {
                $('table.display').dataTable();
            } else {
                $('table.display').dataTable(
                    {
                        pageLength: 5,
                        lengthMenu: [[5, 10, 20, 50], [5, 10, 20, 50]]
                    }
                );
            }
        });
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            if ($.fn.dataTable.isDataTable('table.display')) {
                $('table.display').dataTable();
            } else {
                $('table.display').dataTable(
                        pageLength: 20,
                    {
                        lengthMenu: [[20, 50, 100, 150], [20, 50, 100, 150]]
                    }
                );
            }
        });
    </script>
}