@using GrizzTime.ViewModels
@model IEnumerable<GrizzTime.Models.expensesheet>


@{
    ViewBag.Title = "My Expense Reports";

    HtmlString top = new HtmlString("");
    HtmlString bottom = new HtmlString("");
    //true when called from dashboard
    if (TempData["partial"] != null && TempData["partial"].Equals("True"))
    {
        Layout = null;
    }
    else
    {
        top = new HtmlString("<div class='container-fluid'><br><div class='row'><div class='col-12'><div class='card card-default'><div class='card-header'><div class='card-title'>My Expense Reports</div></div><div class='card-body'>");
        bottom = new HtmlString("</div></div></div></div></div>");
    }
}

@Html.Raw(top)

    <div class="row" style="padding-bottom:20px;">
        <div class="col-lg-4">
            <a href="@Url.Action("ExpenseEntry", "Expensesheet")" class="btn btn-lg btn-primary">
                Add New Expense
            </a>
        </div>
    </div>

<table id="" class="display">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Submission Date</th>
            <th>Reviewer</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                var expsubmitime = item.ExpSheetSubmitTime.GetValueOrDefault();
                <tr>
                    <td>$@item.ExpSheetTotalAmt</td>
                    @if (expsubmitime.Date.ToShortDateString() == "1/1/0001") 
                    { 
                        <td>---</td> 
                    } 
                    else 
                    { 
                        <td>@expsubmitime.Date.ToShortDateString()</td> 
                    } 
                    <td>@item.employee.employee2.EmpFName @item.employee.employee2.EmpLName</td> 
                    <td>@item.ExpSheetStatus</td>
                    <td>
                        <div>
                            @Html.ActionLink("Edit", "Edit", "Expensesheet", new { eid = item.ExpSheetID }, new { @type = "button", @class = "btn btn-md btn-dark pull-left button button4" })
                        </div>

                        <div>
                            @Html.ActionLink("Submit", "Submit", "Expensesheet", new { eid = item.ExpSheetID }, new { @type = "button", @class = "btn btn-md btn-dark pull-left button button4" })
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.Raw(bottom)

@if (TempData["partial"] != null)
{
    <script>
        $(document).ready(function () {
            if ($.fn.dataTable.isDataTable('table.display')) {
                $('table.display').dataTable();
            } else {
                $('table.display').dataTable(
                    {
                        pageLength: 5,
                        lengthMenu: [[5, 10, 20, 50], [5, 10, 20, 50]]
                    }
                );
            }
        });
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            if ($.fn.dataTable.isDataTable('table.display')) {
                $('table.display').dataTable();
            } else {
                $('table.display').dataTable(
                    {
                        pageLength: 20,
                        lengthMenu: [[20, 50, 100, 150], [20, 50, 100, 150]]
                    }
                );
            }
        });
    </script>
}