@{
    ViewBag.Title = "Forgot password?";
    Layout = null;
}

<link rel="stylesheet" href="~/StyleSheet.css" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="Login-Box-Top">
        <div class="Form-Titles">Enter your email address.</div>
    </div>

    <div class="Login-Box-Container">
        <div class="Login-Box">
            <div class="form-horizontal">
                <hr />

                <div class="form-group">
                    @Html.Label("Enter your email: ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("UserEmail", new { htmlAttributes = new { @class = "input-md" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Email link" class="btn btn-default" />
                    </div>
                </div>

            </div>
        </div>
    </div>
 }


@if (@TempData["message"] != null)
{
    <script type="text/javascript">
    window.onload = function () {
    alert("@TempData["message"]");
    };
    </script>
}
