@model IEnumerable<GrizzTime.Models.timesheet>
@using GrizzTime.ViewModels

@{
    ViewBag.Title = "My Timesheets";

    HtmlString top = new HtmlString("");
    HtmlString bottom = new HtmlString("");
    //true when called from dashboard
    if (TempData["partial"] != null && TempData["partial"].Equals("True"))
    {
        Layout = null;
    }
    else
    {
        top = new HtmlString("<div class='container-fluid'><br><div class='row'><div class='col-12'><div class='card card-default'><div class='card-header'><div class='card-title'>My Timesheets</div></div><div class='card-body'>");
        bottom = new HtmlString("</div></div></div></div></div>");
    }

    //You're not supposed to write code in views but I'm a rebel

    //Start by creating a list with the past four weeks in it.
    List<DateTime> missedWeeks = new List<DateTime>();
    DateTime weekStart = System.DateTime.Now.StartOfWeek(DayOfWeek.Monday);
    for (int i = 0; i < 4; i++)
    {
        missedWeeks.Add(weekStart);
        weekStart = weekStart.AddDays(-7);
    }

    //If we find a timesheet in the model that matches one of the past four weeks, remove that from the missedWeeks list because it wasn't missed afterall.
    if (Model != null)
    {
        foreach (var item in Model)
        {
            if (missedWeeks.Contains(item.payrollcycle.PayrollCycleStart.Date))
            {
                missedWeeks.Remove(item.payrollcycle.PayrollCycleStart.Date);
            }
        }
    }
}

@Html.Raw(top)

    <table id="" class="display">
        <thead>
            <tr>
                <th>Week</th>
                <th>Time</th>
                <th>Reviewer</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!--Show NEW timesheet weeks first-->
            @if (missedWeeks.Any())
            {
                foreach (var date in missedWeeks)
                {
                    <tr>
                        <td>@date.ToShortDateString()</td>
                        <td>0.00</td>
                        <td>---</td>
                        <td>New</td>
                        <td>
                            @Html.ActionLink("View Week", "Create", "Timesheet", new { date = date }, new { @type = "button", @class = "btn btn-md btn-dark pull-left button button4" })
                        </td>
                    </tr>
                }
            }
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.payrollcycle.PayrollCycleStart.Date.ToShortDateString()</td>
                        <td>@item.TimeSheetTotalHr</td>
                        <td>@item.employee.employee2.EmpFName @item.employee.employee2.EmpLName </td>
                        <td>@item.TimeSheetStatus</td>
                        <td>
                            <div>
                                @Html.ActionLink("View Week", "Week", "Timesheet", new { id = item.TimeSheetID }, new { @type = "button", @class = "btn btn-md btn-dark pull-left button button4" })
                            </div>
                            <div>
                                @Html.ActionLink("Submit", "Submit", "Timesheet", new { tid = item.TimeSheetID }, new { @type = "button", @class = "btn btn-md btn-dark pull-left button button4" })
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (TempData["partial"] != null)
    {
        <script>
            $(document).ready(function () {
                if ($.fn.dataTable.isDataTable('table.display')) {
                    $('table.display').dataTable();
                } else {
                    $('table.display').dataTable(
                        {
                            "order": [[0, "desc"]],
                            pageLength: 5,
                            lengthMenu: [[5, 10, 20, 50], [5, 10, 20, 50]]
                        }
                    );
                }
            });
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                if ($.fn.dataTable.isDataTable('table.display')) {
                    $('table.display').dataTable();
                } else {
                    $('table.display').dataTable(
                        {
                            "order": [[0, "desc"]],
                            pageLength: 20,
                            lengthMenu: [[20, 50, 100, 150], [20, 50, 100, 150]]
                        }
                    );
                }
            });
        </script>
    }

@Html.Raw(bottom)
