@model IEnumerable<GrizzTime.Models.timesheet>
@using GrizzTime.ViewModels

@{
    ViewBag.Title = "My Timesheets";

    bool currentWeekExists = false;

    if (Model != null)
    {
        foreach (var item in Model)
        {
            if (item.payrollcycle.PayrollCycleStart.Date == System.DateTime.Now.StartOfWeek(DayOfWeek.Monday))
            {
                currentWeekExists = true;
            }
        }
    }


}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Week</th>
            <th>Time</th>
            <th>Reviewer</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @*Don't display this block if the current week is already in the DB*@
        <tr style="@(currentWeekExists? "display:none" : "")">
            <td>@System.DateTime.Now.StartOfWeek(DayOfWeek.Monday).ToShortDateString()</td>
            <td>0.00</td>
            <td>---</td>
            <td>New</td>
            <td>
                @Html.ActionLink("View Week", "Create", "Timesheet", null, new { @type = "button", @class = "btn btn-sm btn-default pull-left button button4" })
            </td>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.payrollcycle.PayrollCycleStart.Date.ToShortDateString()</td>
                    <td>@item.TimeSheetTotalHr</td>
                    <td>@item.employee.employee2.EmpFName @item.employee.employee2.EmpLName </td>
                    <td>@item.TimeSheetStatus</td>
                    <td>
                        <div>
                            @Html.ActionLink("View Week", "Week", "Timesheet", new { id = item.TimeSheetID }, new { @type = "button", @class = "btn btn-sm btn-default pull-left button button4" })
                        </div>

                        <div>
                            @Html.ActionLink("Submit", "Submit", "Timesheet", new { tid = item.TimeSheetID }, new { @type = "button", @class = "btn btn-sm btn-default pull-left button button4" })
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (@TempData["message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["message"]");
        };
    </script>
}