@model IEnumerable<GrizzTime.Models.timesheet>
@using GrizzTime.ViewModels

@{
    ViewBag.Title = "Supervisor Portal";
}

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <div class="card-title">
                        Pending Timesheets
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped padding-bottom-xl">
                        <thead>
                            <tr>
                                <th>Submitted by</th>
                                <th>Week</th>
                                <th>Hours</th>
                                <th>Details</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.TimeSheetStatus == "Pending")
                                    {
                                        <tr>
                                            <td scope="row">@item.employee.EmpFName @item.employee.EmpLName </td>
                                            <td>@item.payrollcycle.PayrollCycleStart.Date.ToShortDateString()</td>
                                            <td>@item.TimeSheetTotalHr</td>
                                            <td>
                                                <div>
                                                    @Html.ActionLink("View", "Week", "Timesheet", new { id = item.TimeSheetID }, new { @type = "button", @class = "btn btn-md btn-primary pull-left button button3" })
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-md btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                                                        Actions
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="@Url.Action("Approve", new { tid = item.TimeSheetID })">Approve</a></li>
                                                        <li><a href="@Url.Action("Deny", new { tid = item.TimeSheetID })">Deny</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <div class="card-title">
                        Processed Timesheets
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Submitted by</th>
                                <th>Week</th>
                                <th>Hours</th>
                                <th>Details</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.TimeSheetStatus != "Pending")
                                    {
                                        <tr>
                                            <td scope="row">@item.employee.EmpFName @item.employee.EmpLName </td>
                                            <td>@item.payrollcycle.PayrollCycleStart.Date.ToShortDateString()</td>
                                            <td>@item.TimeSheetTotalHr</td>
                                            <td>
                                                <div>
                                                    @Html.ActionLink("View Week", "Week", "Timesheet", new { id = item.TimeSheetID }, new { @type = "button", @class = "btn btn-md btn-primary pull-left button button3" })
                                                </div>
                                            </td>
                                            <td>@item.TimeSheetStatus</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--START EXPENSE SHEETS-->
    @{
    TempData["partial"] = "True";
    }
    @Html.Action("PendingApprovals", "ExpenseSheet")
</div>

<script type="text/javascript">

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("my-dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

</script>

