@{
    string Role = Request.Cookies["Role"].Value;
}

<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="header">Menu Navigation</li>
        <!--Business navigation links-->
        <li style="@(Role == "Business"? "display:block" : "display:none")">
            <a href="@(Url.Action("Dashboard","Business"))">
                <i class="fa fa-home"></i><span>Dashboard</span>
            </a>
        </li>
        <li style="@(Role == "Business"? "display:block" : "display:none")">
            <a href="@(Url.Action("MyEmployees","Business" ))">
                <i class="fa fa-users"></i><span>View my Employees</span>
            </a>
        </li>
        <li style="@(Role == "Business"? "display:block" : "display:none")">
            <a href="@(Url.Action("MyContracts","Business" ))">
                <i class="fa fa-suitcase"></i><span>View my Contracts</span>
            </a>
        </li>
        <!--end-->
        <!--Regular employee navigation links-->
        <li style="@(Role != "Business"? "display:block" : "display:none")">
            <a href="@(Url.Action("Dashboard","Employee" ))">
                <i class="fa fa-home"></i><span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="@(Url.Action("MyProjects","Home" ))">
                <i class="fa fa-tasks"></i><span>My Projects</span>
            </a>
        </li>
        <li style="@(Role != "Business"? "display:block" : "display:none")">
            <a href="@(Url.Action("List","Timesheet" ))">
                <i class="fa fa-calendar"></i><span>My Timesheets</span>
            </a>
        </li>
        <li style="@(Role != "Business"? "display:block" : "display:none")">
            <a href="@(Url.Action("PendingApprovals","Timesheet" ))">
                <i class="fa fa-check"></i><span>Timesheets to Review</span>
            </a>
        </li>
        <!--end-->
        <!--Common-->
        <li>
            <a href="@(Url.Action("About","Home"))">
                <i class="fa fa-question-circle"></i><span>About</span>
            </a>
        </li>
        <li>
            <a href="@(Url.Action("Contact","Home"))">
                <i class="fa fa-envelope"></i><span>Contact</span>
            </a>
        </li>
        <!--end-->



    </ul>
</section>


@*
     <li>
        <a href="@(Url.Action("","",new{ Area = ""}))">
            <i class="fa fa-th fa-fw"></i> <span>Widgets</span>
        </a>
    </li>

    <li>
        <a href="@(Url.Action("","",new{ Area = ""}))">
            <i class="fa fa-th fa-fw"></i> <span>Widgets</span>
            <span class="pull-right-container">
                <small class="label pull-right bg-green">new</small>
            </span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o fa-fw"></i>
            <span>Layout Options</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@(Url.Action("","",new{ Area = ""}))"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
        </ul>
    </li>

    <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li>
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Level One
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level Two
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            </ul>
        </li>
*@