@model GrizzTime.Models.task
@using GrizzTime.ViewModels


@{
    //Temporary. I'd like to put this function directly in the edit form.

    ViewBag.Title = "Add task";
    int ProjID = ViewBag.ProjectID;
}

<h2>Add task to @ViewBag.ProjectName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Task", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TaskName, Timesheet.TaskTypes as List<SelectListItem>, "--Select--", new { htmlAttributes = new { @class = "select2" } })
                @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Billable rate", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillableRate, new { htmlAttributes = new { @class = "input-lg", @type="number" } })
                @Html.ValidationMessageFor(model => model.BillableRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="db-Row-Button-Box">
    <a href="@Request.UrlReferrer">
        <div class="small-button">
            <span>
                <h2>
                    Back
                </h2>
            </span>
        </div>
    </a>
</div>

