@model GrizzTime.ViewModels.Project

@*We get the employee list and contract list from here*@
@using GrizzTime.ViewModels

@{
    ViewBag.Title = "Project Details";
    int pid = Model.ProjID;

    //Employees should not be able to see buttons
    string currentUserID = Request.Cookies["UserID"].Value;
    bool isVisible;
    if ( (currentUserID == Model.BusID.ToString()) | (currentUserID == Model.ProjManID))
    {
        isVisible = true;
    }
    else
    {
        isVisible = false;
    }

}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../assets/css/AdminLTE.min.css">
    @*<link rel="stylesheet" href="../../stylesheet.css">*@
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<div class="container-fluid">
    <!-- Default box -->
    @*<div class="card">
        <div class="card-body">*@
    <br />
            <div class="row">

                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content" style="margin-left: 0rem">
                                    <span class="info-box-text text-center text-muted">Contract Hours Allotted </span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.Contract.ConAllottedHours</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content" style="margin-left:0rem">
                                    <span class="info-box-text text-center text-muted">Contract Hours Remaining</span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.Contract.ConHoursRemaining</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content" style="margin-left:0rem">
                                    <span class="info-box-text text-center text-muted">Hours Used by this Project</span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.ProjTotalHr </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="info-box bg-white">
                                <div class="info-box-content" style="margin-left: 20px">
                                    <h4>Project Members</h4>
                                    @foreach (var item in Project.GetEmployees(Model.ProjID))
                                    {
                                        <div class="post">
                                            <div class="user-block">
                                                <img class="img-circle img-bordered-sm" src="../../assets/img/defaultuser.png" alt="user image">
                                                <span class="username">
                                                    <a href="@Url.Action("Details", "Employee", new {id = item.UserID })">@item.EmpFName @item.EmpLName</a>
                                                </span>
                                                <span class="description">@item.EmpType</span>
                                                <p class="text-right">
                                                    <a href="@Url.Action("RemoveEmpFromProject", "Project", new {pid = Model.ProjID, eid = item.UserID})" class="btn btn-md btn-danger" style="@(isVisible? "display:inline" : "display:none")">Remove</a>
                                                </p>
                                            </div>
                                            <!-- /.user-block -->
                                        </div>
                                    }
                                    <div class="text-left mt-5 mb-3">
                                        <a href="@Url.Action("AddEmpToProject", "Project", new {id = Model.ProjID})" class="btn btn-md btn-primary" style="@(isVisible? "display:inline" : "display:none")">Add Employee</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row" style="@(isVisible? "display:block" : "display:none")">
                        <div class="col-12 col-sm-4"></div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-gradient-dark">
                                <div class="info-box-content" style="margin-left: 0rem">
                                    <span class="info-box-text text-center" style="font-size:1.55rem">Invoice</span>
                                    <br />
                                    <span class="info-box-more text-center"><a href="@Url.Action("ProjectInvoice", "Invoice", new {id = Model.ProjID})" class="btn btn-md btn-success">Generate</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <div class="info-box bg-white">
                        <div class="info-box-content" style="margin-left:0rem">
                            <h3 class="text-primary"><i class="fas fa-paint-brush"></i> @Html.DisplayFor(m => m.ProjName) <text class="float-right text-green">@Html.DisplayFor(m => m.ProjStatus)</text> </h3>
                            <p class="text-muted"> @Html.DisplayFor(m => m.ProjDesc)</p>
                            <br>
                            <div class="text-black">
                                <p>
                                    Belongs to <br>
                                    <b class="d-block">@Html.DisplayFor(m => m.ContractName)</b>
                                </p>
                                <p>
                                    Project Manager<br>
                                    <b class="d-block">@Html.DisplayFor(m => m.ProjManName)</b>
                                </p>
                                <hr>
                                <p>
                                    Start Date
                                    <b class="d-block">@Html.DisplayFor(m => m.ProjStartDate)</b>
                                </p>
                                <p>
                                    End Date
                                    <b class="d-block">@if (Model.ProjEndDate != null) { Html.DisplayFor(m => m.ProjEndDate); } else { Html.DisplayText("Ongoing"); }</b>
                                </p>
                            </div>

                            <hr>
                            <h5 class="mt-5 text-dark"><i class="fas fa-tasks"></i> <strong>Project Tasks</strong> </h5>
                            <table class="table table-responsive-sm">
                                <tbody>
                                    @foreach (var item in Project.GetTasks(Model.ProjID))
                                    {
                                        <tr>
                                            <td><i class="far fa-circle"></i> @item.TaskName</td>
                                            <td>$@item.BillableRate/hour</td>
                                            <td style="@(isVisible? "display:block" : "display:none")"><a href="@Url.Action("EditTask", "Project", new {id = item.TaskID})">Edit Task</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="text-right mt-5 mb-3">
                                <a href="@Url.Action("Edit", "Project", new {id = Model.ProjID})" class="btn btn-lg btn-primary" style="@(isVisible? "display:inline" : "display:none")">Edit Project</a>
                                <a href="@Url.Action("AddTask", "Project", new {id = Model.ProjID})" class="btn btn-lg btn-primary" style="@(isVisible? "display:inline" : "display:none")">Add Task</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @*</div>*@
        <!-- /.card-body -->
    @*</div>*@
    <!-- /.card -->
</div>


@*Displays alert message telling user how the operation went.*@
@if (@TempData["message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["message"]");
        };
    </script>
}

